manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: ada1542940c3a01c0866c9fe9c30f489bc087328
      import: app/west.yml

  self:
    path: config
